Fleet Manager
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraper",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        740,
        120
      ],
      "id": "61d66e40-474e-41f7-8360-bfc75bc2f120",
      "name": "Webhook1",
      "webhookId": "c5dfcb38-67c5-4ecd-82ec-748168c72f5d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bc8e128-e8ff-4500-9790-835443f447a1",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        120
      ],
      "id": "f758c737-35e5-4991-8321-8edf0e618d86",
      "name": "Take Body function1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1140,
        120
      ],
      "id": "47f32585-85ab-4304-a9f5-9103772a2e74",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aaf95bbc-395b-44e2-a662-217d724e34f1",
              "leftValue": "={{ $json[\"RPS No\"] && $json[\"RPS No\"].trim().length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        120
      ],
      "id": "009482e2-0112-4b09-8930-027af2684ceb",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7022a768-85f3-447c-8252-ffcc9ec46071",
              "name": "RPS No",
              "value": "={{ parseInt($json[\"RPS No\"]) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        100
      ],
      "id": "7f34e68e-7211-4e29-8d4a-eb1df662ff94",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0",
          "mode": "list",
          "cachedResultName": "vehicles.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1546048553,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0/edit#gid=1546048553"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "RPS No",
              "lookupValue": "={{ $json[\"RPS No\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2620,
        120
      ],
      "id": "f88501e8-3832-45b5-8bec-2fcba823a406",
      "name": "Searching in Sheet",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DETrTImhZp1mCeck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2040,
        100
      ],
      "id": "0ac33ed6-dbee-4f6a-9f36-45ee14d8c792",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\n// Check if there's at least one item AND it's not an empty object\nconst found = data.length > 0 && Object.keys(data[0].json).length > 0;\n\nreturn [{ json: { found } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        120
      ],
      "id": "2262e223-40ca-4058-af40-10304cac332a",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b351d0b-db39-46f2-9881-09317313630d",
              "leftValue": "={{ $json[\"found\"].toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2960,
        20
      ],
      "id": "9da13621-a922-4513-8601-37afc33914e3",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0",
          "mode": "list",
          "cachedResultName": "vehicles.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1546048553,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0/edit#gid=1546048553"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vehicle Number": "={{ $json['Vehicle Number'] }}",
            "Last Location": "={{ $json['Last Location'] }}",
            "Actual Distance": "={{ $json['Actual Distance'] }}",
            "Crossed Date": "={{ $json['Crossed Date'] }}",
            "Previous Trip Status": "={{ $json['Previous Trip Status'] }}",
            "Current Trip Status": "={{ $json['Current Trip Status'] }}",
            "Covered Distance": "={{ $json['Covered Distance'] }}",
            "Consignee Code": "={{ $json['Consignee Code'] }}",
            "Consignee City": "={{ $json['Consignee City'] }}",
            "RPS No": "={{ $json['RPS No'] }}",
            "Signal Strength": "={{ $json['Signal Strength'] }}",
            "Delay Time(HH:MM:SS)": "={{ $json['Delay Time(HH:MM:SS)'] }}",
            "Trip Status": "={{ $json['Trip Status'] }}",
            "Remaining Distance(Kms)": "={{ $json['Remaining Distance(Kms)'] }}",
            "Planned Distance(Kms)": "={{ $json['Planned Distance(Kms)'] }}",
            "ETA": "={{ $json.ETA }}",
            "Dispatch Date": "={{ $json['Dispatch Date'] }}",
            "Consignee Name": "={{ $json['Consignee Name'] }}",
            "Consigner Name": "={{ $json['Consigner Name'] }}",
            "Stoppage Duration": "={{ $json['Stoppage Duration'] }}",
            "Stopped Since": "={{ $json['Stopped Since'] }}",
            "Current Day Distance(Kms)": "={{ $json['Current Day Distance(Kms)'] }}",
            "Previous Day Distance(Kms)": "={{ $json['Previous Day Distance(Kms)'] }}",
            "Battery Status": "={{ $json['Battery Status'] }}",
            "Ignition Status": "={{ $json['Ignition Status'] }}",
            "Speed(Kmph)": "={{ $json['Speed(Kmph)'] }}",
            "Vehicle Group": "={{ $json['Vehicle Group'] }}",
            "Network Associate Mobile": "={{ $json['Network Associate Mobile'] }}",
            "Network Associate Name": "={{ $json['Network Associate Name'] }}",
            "Network Associate ID": "={{ $json['Network Associate ID'] }}",
            "Device Serial Number": "{{ $json['Device Serial Number'] }}",
            "Last Location Date": "={{ $json['Last Location Date'] }}",
            "Device Status": "={{ $json['Device Status'] }}",
            "last_updating": "={{ $json[\"Last Updated At\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Device Serial Number",
              "displayName": "Device Serial Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vehicle Number",
              "displayName": "Vehicle Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Location Date",
              "displayName": "Last Location Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Network Associate ID",
              "displayName": "Network Associate ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Device Status",
              "displayName": "Device Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Network Associate Name",
              "displayName": "Network Associate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Network Associate Mobile",
              "displayName": "Network Associate Mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vehicle Group",
              "displayName": "Vehicle Group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Location",
              "displayName": "Last Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Speed(Kmph)",
              "displayName": "Speed(Kmph)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ignition Status",
              "displayName": "Ignition Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Battery Status",
              "displayName": "Battery Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous Day Distance(Kms)",
              "displayName": "Previous Day Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Day Distance(Kms)",
              "displayName": "Current Day Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stopped Since",
              "displayName": "Stopped Since",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stoppage Duration",
              "displayName": "Stoppage Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consigner Name",
              "displayName": "Consigner Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consignee Name",
              "displayName": "Consignee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dispatch Date",
              "displayName": "Dispatch Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ETA",
              "displayName": "ETA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Planned Distance(Kms)",
              "displayName": "Planned Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remaining Distance(Kms)",
              "displayName": "Remaining Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trip Status",
              "displayName": "Trip Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delay Time(HH:MM:SS)",
              "displayName": "Delay Time(HH:MM:SS)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Signal Strength",
              "displayName": "Signal Strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RPS No",
              "displayName": "RPS No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consignee City",
              "displayName": "Consignee City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consignee Code",
              "displayName": "Consignee Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Covered Distance",
              "displayName": "Covered Distance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Trip Status",
              "displayName": "Current Trip Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous Trip Status",
              "displayName": "Previous Trip Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Crossed Date",
              "displayName": "Crossed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Distance",
              "displayName": "Actual Distance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updating",
              "displayName": "last_updating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3680,
        400
      ],
      "id": "f8653200-49ec-4c32-b393-5a8ea2215a1b",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wzcj8bYNFB42JyFh",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3080,
        400
      ],
      "id": "8e9e47db-2b7b-4200-9102-99216b45ade4",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3080,
        -200
      ],
      "id": "7f3beaaf-e7a8-47c5-b929-924811ee6bf2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0",
          "mode": "list",
          "cachedResultName": "vehicles.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1546048553,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyuRPidEfJkXk1xtn2uSmKGgcb8df90Wwx_TJ9qBLw0/edit#gid=1546048553"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vehicle Number": "={{ $json['Vehicle Number'] }}",
            "Last Location": "={{ $json['Last Location'] }}",
            "Actual Distance": "={{ $json['Actual Distance'] }}",
            "Crossed Date": "={{ $json['Crossed Date'] }}",
            "Previous Trip Status": "={{ $json['Previous Trip Status'] }}",
            "Current Trip Status": "={{ $json['Current Trip Status'] }}",
            "Covered Distance": "={{ $json['Covered Distance'] }}",
            "Consignee Code": "={{ $json['Consignee Code'] }}",
            "Consignee City": "={{ $json['Consignee City'] }}",
            "RPS No": "={{ $json['RPS No'] }}",
            "Signal Strength": "={{ $json['Signal Strength'] }}",
            "Delay Time(HH:MM:SS)": "={{ $json['Delay Time(HH:MM:SS)'] }}",
            "Trip Status": "={{ $json['Trip Status'] }}",
            "Remaining Distance(Kms)": "={{ $json['Remaining Distance(Kms)'] }}",
            "Planned Distance(Kms)": "={{ $json['Planned Distance(Kms)'] }}",
            "ETA": "={{ $json.ETA }}",
            "Dispatch Date": "={{ $json['Dispatch Date'] }}",
            "Consignee Name": "={{ $json['Consignee Name'] }}",
            "Consigner Name": "={{ $json['Consigner Name'] }}",
            "Stoppage Duration": "={{ $json['Stoppage Duration'] }}",
            "Stopped Since": "={{ $json['Stopped Since'] }}",
            "Current Day Distance(Kms)": "={{ $json['Current Day Distance(Kms)'] }}",
            "Previous Day Distance(Kms)": "={{ $json['Previous Day Distance(Kms)'] }}",
            "Battery Status": "={{ $json['Battery Status'] }}",
            "Ignition Status": "={{ $json['Ignition Status'] }}",
            "Speed(Kmph)": "={{ $json['Speed(Kmph)'] }}",
            "Vehicle Group": "={{ $json['Vehicle Group'] }}",
            "Network Associate Mobile": "={{ $json['Network Associate Mobile'] }}",
            "Network Associate Name": "={{ $json['Network Associate Name'] }}",
            "Network Associate ID": "={{ $json['Network Associate ID'] }}",
            "Last Location Date": "={{ $json['Last Location Date'] }}",
            "Device Status": "={{ $json['Device Status'] }}",
            "Device Serial Number": "={{ $json['Device Serial Number'] }}",
            "last_updating": "={{ $json[\"Last Updated At\"] }}"
          },
          "matchingColumns": [
            "RPS No"
          ],
          "schema": [
            {
              "id": "Device Serial Number",
              "displayName": "Device Serial Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vehicle Number",
              "displayName": "Vehicle Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Location Date",
              "displayName": "Last Location Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Network Associate ID",
              "displayName": "Network Associate ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Device Status",
              "displayName": "Device Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Network Associate Name",
              "displayName": "Network Associate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Network Associate Mobile",
              "displayName": "Network Associate Mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vehicle Group",
              "displayName": "Vehicle Group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Location",
              "displayName": "Last Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Speed(Kmph)",
              "displayName": "Speed(Kmph)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ignition Status",
              "displayName": "Ignition Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Battery Status",
              "displayName": "Battery Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous Day Distance(Kms)",
              "displayName": "Previous Day Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Day Distance(Kms)",
              "displayName": "Current Day Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stopped Since",
              "displayName": "Stopped Since",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stoppage Duration",
              "displayName": "Stoppage Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consigner Name",
              "displayName": "Consigner Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consignee Name",
              "displayName": "Consignee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dispatch Date",
              "displayName": "Dispatch Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ETA",
              "displayName": "ETA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Planned Distance(Kms)",
              "displayName": "Planned Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remaining Distance(Kms)",
              "displayName": "Remaining Distance(Kms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trip Status",
              "displayName": "Trip Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delay Time(HH:MM:SS)",
              "displayName": "Delay Time(HH:MM:SS)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Signal Strength",
              "displayName": "Signal Strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RPS No",
              "displayName": "RPS No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Consignee City",
              "displayName": "Consignee City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consignee Code",
              "displayName": "Consignee Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Covered Distance",
              "displayName": "Covered Distance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Trip Status",
              "displayName": "Current Trip Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous Trip Status",
              "displayName": "Previous Trip Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Crossed Date",
              "displayName": "Crossed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Distance",
              "displayName": "Actual Distance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updating",
              "displayName": "last_updating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3680,
        -200
      ],
      "id": "62d2ac2c-a503-47e4-9340-517ac90a40f2",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhDmHI1slNf4kTwd",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f009d7-59eb-45e3-9797-0ae0fa61d339",
              "name": "RPS No",
              "value": "={{ parseInt($json[\"RPS No\"]) }}",
              "type": "number"
            },
            {
              "id": "7cc79429-2aa8-4f18-8910-ecc75f95306f",
              "name": "Last Updated At",
              "value": "={{(() => {\n  const date = new Date().toLocaleString(\"en-GB\", {\n    timeZone: \"Asia/Kolkata\",\n    hour12: false\n  });\n  const [day, month, year, hour, minute, second] = date.match(/\\d+/g);\n  return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')} ${hour.padStart(2, '0')}:${minute.padStart(2, '0')}:${second.padStart(2, '0')}`;\n})()}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3260,
        -200
      ],
      "id": "03a2c68c-1f8d-4c24-ba65-fe6bf73c0c0a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f009d7-59eb-45e3-9797-0ae0fa61d339",
              "name": "RPS No",
              "value": "={{ parseInt($json[\"RPS No\"]) }}",
              "type": "number"
            },
            {
              "id": "d7d51797-f3f2-4f35-8baf-9635788cb33d",
              "name": "Last Updated At",
              "value": "={{(() => {\n  const date = new Date().toLocaleString(\"en-GB\", {\n    timeZone: \"Asia/Kolkata\",\n    hour12: false\n  });\n  const [day, month, year, hour, minute, second] = date.match(/\\d+/g);\n  return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')} ${hour.padStart(2, '0')}:${minute.padStart(2, '0')}:${second.padStart(2, '0')}`;\n})()}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3260,
        400
      ],
      "id": "124b0ec2-5d79-4d84-bd3e-db4d81d8a4ee",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3560,
        120
      ],
      "id": "1e625c59-408a-4c9e-b177-004f1574d583",
      "name": "Wait",
      "webhookId": "3de7de0e-c940-4c2c-8b1e-2941a3b5a9a0"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3480,
        -360
      ],
      "id": "64e85bff-d890-415e-b5f0-ba1a06bebc89",
      "name": "Wait1",
      "webhookId": "703d6947-309f-404d-a8d6-26bd42ab2b6e"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3460,
        560
      ],
      "id": "1e392202-644a-4d1f-b638-f758352f388d",
      "name": "Wait2",
      "webhookId": "4c2e0136-c958-4c2f-a330-fa0c2c54e27f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f009d7-59eb-45e3-9797-0ae0fa61d339",
              "name": "RPS No",
              "value": "={{ parseInt($json[\"RPS No\"]) }}",
              "type": "number"
            },
            {
              "id": "7cc79429-2aa8-4f18-8910-ecc75f95306f",
              "name": "Last Updated At",
              "value": "={{(() => {\n  const date = new Date().toLocaleString(\"en-GB\", {\n    timeZone: \"Asia/Kolkata\",\n    hour12: false\n  });\n  const [day, month, year, hour, minute, second] = date.match(/\\d+/g);\n  return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')} ${hour.padStart(2, '0')}:${minute.padStart(2, '0')}:${second.padStart(2, '0')}`;\n})()}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        100
      ],
      "id": "bf5db126-131a-4634-9b75-8a8cde286e93",
      "name": "Edit Fields3"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Take Body function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Body function1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Searching in Sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Searching in Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45c18f9c46e593323e7e0a5d5dab0467f66fd3b21bba84a5fd3a7df6291611ca"
  }
}
